/* CSS for Login and Change Password boxes */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column; /* Stack the boxes vertically */
  align-items: center;
  margin-right: 50px;
}

.login-form-container,
.change-password-form-container {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-container h2,
.change-password-form-container h2 {
  margin-bottom: 20px;
}

.login-form-container input[type="text"],
.login-form-container input[type="password"],
.change-password-form-container input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-container button,
.change-password-form-container button {
  width: calc(50% - 5px); /* Adjust the width */
  padding: 05px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form-container button:hover,
.change-password-form-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
